{% extends 'base.html' %}

{% block title %}Seznam knih{% endblock %}

{% block content %}
  <h2 class="display-4 text-center">Seznam knih</h2>
  <div class="row mb-2">
    <div class="col-12">
    <table class="table table-responsive-lg table-striped table-hover">
      <thead class="bg-secondary">
        <tr>
            <th>Titul</th>
            <th>Autoři</th>
            <th>Vydavatelství</th>
            <th>Rok vydání</th>
            <th>Počet stran</th>
            <th>Akce</th>
        </tr>
      </thead>
      <tbody>
      {% for book in books %}
        <tr>
            <td><strong><a href="{% url 'book_detail' book.pk %}" class="text-info">{{ book.titul.upper }}</a></strong></td>
            <td>
                {% for autor in book.autori.all %}
                <a href="{% url 'author_detail' autor.pk %}">{{ autor.jmeno|first }}. {{ autor.prijmeni }}</a>
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{{ book.vydavatelstvi }}</td>
            <td class="text-right">{{ book.rok_vydani }}</td>
            <td class="text-right">{{ book.pocet_stran }}</td>
            <td><a href="{% url 'book_update' book.id %}" class="btn btn-primary">Editovat</a> <a href="{% url 'book_delete' book.id %}" class="btn btn-danger">Smazat</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <p><a href="{% url 'book_add' %}" class="btn btn-success">Nová kniha</a></p>
    </div>
  </div>
{% endblock %}