{% load static %}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand text-dark" href="#"><img src="{% static 'img/skola-logo.png' %}" alt="Školní knihovna"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Úvodní stránka <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'books_list' %}">Knihy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'authors_list' %}">Autoři</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
           {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="user-profile" data-toggle="dropdown">
                 {{ user.get_username }}
              </a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'password_reset' %}">Změnit heslo</a>
                  <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">logout</button>
                  </form>
              </div>
            </li>
           {% else %}
             <li class="nav-item"><a href="{% url 'login'%}?next={{request.path}}" class="nav-link">Přihlášení</a></li>
           {% endif %}
        </ul>
    </div>
</nav>
